{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ tenant_count }}</h3>

                <p>Total Tenant</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_tenant' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ staff_count }}</h3>

                <p>Total Staffs</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ property_count }}</h3>

                <p>Total Property</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_property' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ caretaker_count }}</h3>

                <p>Total Caretakers</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_caretaker' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
          <div class="row">
              <div class="col-lg-6">
                <div class="card card-danger">
                  <div class="card-header">
                    <h3 class="card-title">Tenant and Staff Chart</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <div class="col-lg-6">
                   <div class="card card-success">
                  <div class="card-header">
                    <h3 class="card-title">Total Caretakers in Each Property</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                 <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Total Tenants in Each Property</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <div class="col-lg-6">
                 <div class="card card-warning">
                  <div class="card-header">
                    <h3 class="card-title">Total Staff in Each Property</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <canvas id="pieChart4" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-success">
                  <div class="card-header">
                    <h3 class="card-title">Staff Leaves vs Arrears</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="barChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-success">
                  <div class="card-header">
                    <h3 class="card-title">Tenant Arrears</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){

            var pieData        = {
                  labels: [
                      'tenants',
                      'staffs'
                  ],
                  datasets: [
                    {
                      data: [{{ tenant_count }},{{ staff_count }}],
                      backgroundColor : ['#f56954', '#00a65a'],
                    }
                  ]
             };

            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieOptions     = {
              maintainAspectRatio : false,
              responsive : true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var pieChart = new Chart(pieChartCanvas, {
              type: 'pie',
              data: pieData,
              options: pieOptions
            });

            //Second Chart for Total caretaker in Each property
                var caretaker_count_list={{ caretaker_count_list }};
                var property_name_list={{ property_name_list|safe }};
                var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                var donutData        = {
                  labels:property_name_list,
                  datasets: [
                    {
                      data: caretaker_count_list,
                      backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                    }
                  ]
                }
                var donutOptions     = {
                  maintainAspectRatio : false,
                  responsive : true,
                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                var donutChart = new Chart(donutChartCanvas, {
                  type: 'doughnut',
                  data: donutData,
                  options: donutOptions
                });


                //show total tenant in each property
                var tenant_count_list_in_property={{ tenant_count_list_in_property }};

                  var pieData2        = {
                          labels:property_name_list,
                          datasets: [
                            {
                              data: tenant_count_list_in_property,
                              backgroundColor : ['#f56954', '#00a65a','#aa00ff', '#ff3d00'],
                            }
                          ]
                     };

                    var pieChartCanvas2 = $('#pieChart3').get(0).getContext('2d')
                    var pieOptions2     = {
                      maintainAspectRatio : false,
                      responsive : true,
                    }
                    var pieChart = new Chart(pieChartCanvas2, {
                      type: 'pie',
                      data: pieData2,
                      options: pieOptions2
                    });

                //show total tenant in each caretaker
                var tenant_count_list_in_caretaker={{ tenant_count_list_in_caretaker }};
                var caretaker_list={{ caretaker_list|safe }};

                  var pieData3  = {
                          labels:caretaker_list,
                          datasets: [
                            {
                              data: tenant_count_list_in_caretaker,
                              backgroundColor : ['#f56954', '#00a65a','#aa00ff', '#ff3d00','#bf360c','#ffff00','#00e676','#40c4ff','#f56954', '#00a65a','#aa00ff', '#ff3d00','#bf360c','#ffff00','#00e676','#40c4ff'],
                            }
                          ]
                     };

                    var pieChartCanvas3 = $('#pieChart4').get(0).getContext('2d')
                    var pieOption3     = {
                      maintainAspectRatio : false,
                      responsive : true,
                    }
                    var pieChart = new Chart(pieChartCanvas3, {
                      type: 'pie',
                      data: pieData3,
                      options: pieOption3
                    });

                        ///Staff Leave vs Arrears Bar Chart
                        var Arrears_present_list_staff={{ Arrears_present_list_staff }};
                        var Arrears_absent_list_staff={{ Arrears_absent_list_staff }};
                        var staff_name_list={{ staff_name_list|safe }};
                        var barChartData = {
                          labels  : staff_name_list,
                          datasets: [
                            {
                              label               : 'Leaves',
                              backgroundColor     : 'rgba(60,141,188,0.9)',
                              borderColor         : 'rgba(60,141,188,0.8)',
                              pointRadius          : false,
                              pointColor          : '#3b8bba',
                              pointStrokeColor    : 'rgba(60,141,188,1)',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(60,141,188,1)',
                              data                : Arrears_absent_list_staff
                            },
                            {
                              label               : 'Arrears',
                              backgroundColor     : 'rgba(210, 214, 222, 1)',
                              borderColor         : 'rgba(210, 214, 222, 1)',
                              pointRadius         : false,
                              pointColor          : 'rgba(210, 214, 222, 1)',
                              pointStrokeColor    : '#c1c7d1',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(220,220,220,1)',
                              data                : Arrears_present_list_staff
                            },
                          ]
                        }
                        var barChartCanvas = $('#barChart1').get(0).getContext('2d')
                        var temp0 = barChartData.datasets[0]
                        var temp1 = barChartData.datasets[1]
                        barChartData.datasets[0] = temp1
                        barChartData.datasets[1] = temp0

                        var barChartOptions = {
                          responsive              : true,
                          maintainAspectRatio     : false,
                          datasetFill             : false
                        }

                        var barChart = new Chart(barChartCanvas, {
                          type: 'bar',
                          data: barChartData,
                          options: barChartOptions
                        })

                        //tenant Leaves vs Arrears
                        var Arrears_present_list_tenant={{ Arrears_present_list_tenant }};
                        var Arrears_absent_list_tenant={{ Arrears_absent_list_tenant }};
                        var tenant_name_list={{ tenant_name_list|safe }};
                        var barChartData2 = {
                          labels  : tenant_name_list,
                          datasets: [
                            {
                              label               : 'Leaves',
                              backgroundColor     : 'rgba(60,141,188,0.9)',
                              borderColor         : 'rgba(60,141,188,0.8)',
                              pointRadius          : false,
                              pointColor          : '#3b8bba',
                              pointStrokeColor    : 'rgba(60,141,188,1)',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(60,141,188,1)',
                              data                : Arrears_absent_list_tenant
                            },
                            {
                              label               : 'Arrears',
                              backgroundColor     : 'rgba(210, 214, 222, 1)',
                              borderColor         : 'rgba(210, 214, 222, 1)',
                              pointRadius         : false,
                              pointColor          : 'rgba(210, 214, 222, 1)',
                              pointStrokeColor    : '#c1c7d1',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(220,220,220,1)',
                              data                : Arrears_present_list_tenant
                            },
                          ]
                        }
                        var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
                        var temp02 = barChartData2.datasets[0]
                        var temp12 = barChartData2.datasets[1]
                        barChartData2.datasets[0] = temp12
                        barChartData2.datasets[1] = temp02

                        var barChartOptions2 = {
                          responsive              : true,
                          maintainAspectRatio     : false,
                          datasetFill             : false
                        }

                        var barChart2 = new Chart(barChartCanvas2, {
                          type: 'bar',
                          data: barChartData2,
                          options: barChartOptions2
                        })



    });
</script>
{% endblock custom_js %}
